$body-color: #1a1a1a;
$primary: #41528c;
$secondary: #f06646;
$danger: #d71b22;

// More colors
$ef: #eff0f6;

$A1: #a1a5b7;
$c18: #181c32;
$c7e: #7e8299;
$c1e: #1e2022;
$c170: #170f49;
$c7c: #7c080e;
$c83: #838383;
$c1d: #1da1f2;
$c97: #979797;
$c4a: #4a4a4a;
$c667085: #667085;
$c020246: #020246;
$c467DE1: #467de1;

.text-white {
  color: #fff !important;
}

.text-a1 {
  color: $A1 !important;
}
.text-18 {
  color: $c18 !important;
}
.text-7e {
  color: $c7e !important;
}
.text-1e {
  color: $c1e !important;
}
.text-170 {
  color: $c170 !important;
}
.text-7c {
  color: $c7c !important;
}
.text-c83 {
  color: $c83 !important;
}
.text-c1d {
  color: $c1d !important;
}
.text-c97 {
  color: $c97 !important;
}
.text-c4a {
  color: $c4a !important;
}
.text-667085 {
  color: $c667085 !important;
}
.text-c020246 {
  color: $c020246 !important;
}
.text-c467DE1 {
  color: $c467DE1 !important;
}

// Borders
// $F5F8FC: #F5F8FC;
// .border-color-f5 {
// 	border:1px solid $F5F8FC !important;
// }
$d9: #d9dbe9;
.border-color-d9 {
  border: 1px solid $d9 !important;
}

// Background
$c4: #c4c4c4;
$f8: #f8f8f8;
$f7: #f7f7fb;
$f9: #f9f9f9;
$c0f: #0f172a;
$cf3: #f3f3fe;
$f9f9fb: #f9f9fb;
$fbfbfc: #fbfbfc;

.bg-d9 {
  background-color: $d9 !important;
}
.bg-c4 {
  background-color: $c4 !important;
}
.bg-f8 {
  background-color: $f8 !important;
}
.bg-f7 {
  background-color: $f7 !important;
}
.bg-f9 {
  background-color: $f9 !important;
}
.bg-fbfbfc {
  background-color: $fbfbfc !important;
}
.bg-0f {
  background-color: $c0f !important;
}
.bg-cf3 {
  background-color: $cf3 !important;
}

// Quickly modify global styling by enabling or disabling optional features.
$enable-dark-mode: false;
$enable-negative-margins: true;
$enable-grid-classes: false;
$enable-cssgrid: true;

// scss-docs-start form-input-variables
$input-border-color: #e1e3ea;
$input-border-radius: 6px;
$input-placeholder-color: #7e8299;

// scss-docs-start form-check-variables
$form-check-input-width: 1.25em;
$form-check-min-height: 1.25em;
$form-check-input-border-radius: 4px;

// scss-docs-start form-select-variables
$form-select-color: $c7e;
$form-select-font-size: 16px;
// $form-select-font-weight: 600;
$form-select-indicator: url('../imgs/form-select-indicator.png');

// scss-docs-start accordion-variables
$accordion-icon-width: 1rem;
$accordion-border-radius: 0;
$accordion-inner-border-radius: 0;
$accordion-button-icon: url('../imgs/accordion-button-icon.png');
$accordion-button-active-icon: url('../imgs/accordion-button-active-icon.png');
// scss-docs-end accordion-variables

.form-select {
  background-size: unset !important;
}
// .btn-primary {
// 	--bs-btn-color: #fff !important;
// 	--bs-btn-hover-color: #fff !important;
// }
// .btn-outline-primary {
// 	--bs-btn-hover-color: #fff !important;
// }

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1170px,
  xxl: 1400px,
);

// Svg fill
.svgPrimaryStroke {
  stroke: $primary;
}
.svgPathSecondary {
  path,
  ellipse,
  circle {
    fill: $secondary;
  }
}

.svgPath {
  path {
    fill: $primary;
  }
}

.svgRect {
  rect {
    fill: $primary;
  }
}

.svgPathPrimaryLastPathWhite {
  path {
    fill: $primary;
  }
  path:last-of-type {
    fill: #fff;
  }
}
.svgStorke {
  path {
    stroke: $primary;
  }
}
.svgPathStorke {
  path:first-of-type {
    fill: $primary;
  }
  path:nth-of-type(2) {
    stroke: $primary;
  }
}
.svgWhiteFillFill {
  path {
    fill: #fff;
  }
}
.svgWhiteStroke {
  path {
    stroke: #fff;
  }
}
